--extra-index-url https://download.pytorch.org/whl/cpu
# Database & Core (needed to write results back)
sqlalchemy==2.0.0
geoalchemy2==0.14.0
psycopg2-binary==2.9.9
celery==5.3.0
redis==4.6.0

# Video & Math Processing
opencv-python-headless==4.8.0.76
numpy==1.24.0
shapely==2.0.0

# File Downloading
google-api-python-client==2.95.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
gdown==5.2.1

# Deep Learning (CPU index to prevent massive 3GB+ GPU downloads)
torch==2.10.0
torchvision==0.25.0

# Progress bars
tqdm==4.67.3